<div class="navbar">
  <div><img src="logo.png" alt="My logo" /></div>
  <div class="menu-icon" (click)="onToggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </div>
  <div
    class="nav-links"
    [ngClass]="{ active: isManuOpen }"
    (click)="onclick($event)"
  >
    <a routerLink="/">Home</a>
    <a routerLink="/about" routerLinkActive="active-link">About</a>

    <a routerLink="/user" routerLinkActive="active-link"
      ><i class="bi bi-person-square"></i
    ></a>
  </div>
</div>
