<div class="space" appScroll>
  <div class="title">
    <p>
      <span> <img src="logo.png" alt="" /></span> Global Environment
    </p>
  </div>

  <div class="introduction">
    <div>
      <img src="images/caribbean-beach.jpg" alt="img1" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi et
        explicabo eum, eligendi tempore animi velit fuga sapiente voluptatem cum
        aliquid porro odio sunt non neque ipsum voluptate molestias! Expedita?
      </p>
    </div>
    <div>
      <img src="images/northern-lights.jpg" alt="img2" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt earum
        iusto nam maxime dolore facilis enim tempore, at natus nesciunt maiores
        harum quidem. Sapiente beatae iure fugiat dolorem, commodi enim?
      </p>
    </div>
    <div>
      <img src="images/desert-dunes.jpg" alt="img3" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et
        amet tempora magnam modi laudantium ratione quos nihil eum impedit
        blanditiis explicabo iure recusandae possimus sit distinctio eligendi,
        molestiae officiis.
      </p>
    </div>
  </div>
</div>
